<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
        <listener class-name="listenersPackage.AllureReportListener"/>
    </listeners>
    <listeners>
    <listener class-name="listenersPackage.ExtentReportListener"></listener>
</listeners>   
  <test thread-count="5" name="Test">
    <classes>
		 <class name="TestCasesPage.GetStartedTestPage"/>
		  <class name="TestCasesPage.HomeTestPage"/>
		  <class name="TestCasesPage.RegisterTestPage"/>
     	  <class name="TestCasesPage.SignInTestPage"/>
     	  <class name="TestCasesPage.DataStructureTestPage"/>
		  <class name="TestCasesPage.ArrayTestPage"/>
      <class name="TestCasesPage.HomeTestPage"/>
      <class name="TestCasesPage.TreeTestPage"/>
      <class name="TestCasesPage.GraphTestPage"/>
      <class name="TestCasesPage.LinkedListTestPage"/>
      <class name="TestCasesPage.QueueTestPage"/>
      <class name="TestCasesPage.StackTestPage"/> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->